USE [SIGEP_WEB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_IdEstado]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   Helpers: Obtener IdEstado por Descripción (función inline)
   ========================================================= */
CREATE   FUNCTION [dbo].[fn_IdEstado] (@desc NVARCHAR(100))
RETURNS INT
AS
BEGIN
    DECLARE @id INT;
    SELECT @id = IdEstado FROM Estados WHERE LTRIM(RTRIM(LOWER(Descripcion))) = LTRIM(RTRIM(LOWER(@desc)));
    RETURN @id;
END
GO
/****** Object:  Table [dbo].[AuditoriaGlobal]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaGlobal](
	[IdAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[Mensaje] [varchar](max) NOT NULL,
	[Origen] [varchar](50) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cantones]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cantones](
	[IdCanton] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[IdProvincia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCanton] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComentariosPractica]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComentariosPractica](
	[IdComentario] [int] IDENTITY(1,1) NOT NULL,
	[Comentario] [varchar](100) NULL,
	[Fecha] [date] NULL,
	[IdUsuario] [int] NULL,
	[IdPractica] [int] NULL,
	[Nota] [decimal](10, 2) NULL,
	[Tipo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdComentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comunicados]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comunicados](
	[IdComunicado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
	[IdEstado] [int] NULL,
	[Informacion] [varchar](255) NULL,
	[Fecha] [datetime] NULL,
	[Poblacion] [varchar](255) NULL,
	[FechaLimite] [datetime] NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdComunicado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direcciones]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direcciones](
	[IdDireccion] [int] IDENTITY(1,1) NOT NULL,
	[IdDistrito] [int] NOT NULL,
	[DireccionExacta] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distritos]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distritos](
	[IdDistrito] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[IdCanton] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documentos]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentos](
	[IdDocumento] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [varchar](255) NULL,
	[Tipo] [varchar](100) NULL,
	[IdUsuario] [int] NULL,
	[FechaSubida] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emails]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emails](
	[IdEmail] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[IdEmpresa] [int] NULL,
	[IdEncargado] [int] NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[IdEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[NombreEmpresa] [varchar](255) NULL,
	[IdEstado] [int] NULL,
	[NombreContacto] [varchar](255) NULL,
	[IdDireccion] [int] NULL,
	[AreasAfinidad] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Encargados]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encargados](
	[IdEncargado] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](30) NULL,
	[Nombre] [varchar](255) NULL,
	[Apellido1] [varchar](255) NULL,
	[Apellido2] [varchar](255) NULL,
	[FechaRegistro] [datetime] NULL,
	[Ocupacion] [varchar](255) NULL,
	[LugarTrabajo] [varchar](255) NULL,
	[IdEstado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEncargado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidades]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidades](
	[IdEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
	[IdEstado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecialidadesVacante]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecialidadesVacante](
	[IdEspecialidadVacante] [int] IDENTITY(1,1) NOT NULL,
	[IdVacante] [int] NULL,
	[IdEspecialidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEspecialidadVacante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstudianteEncargado]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstudianteEncargado](
	[IdEstudianteEncargado] [int] IDENTITY(1,1) NOT NULL,
	[IdEncargado] [int] NULL,
	[IdUsuario] [int] NULL,
	[IdEstado] [int] NULL,
	[Parentesco] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstudianteEncargado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InformacionMedica]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InformacionMedica](
	[IdInformacionMedica] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[Padecimiento] [varchar](255) NULL,
	[Tratamiento] [varchar](255) NULL,
	[Alergia] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInformacionMedica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modalidades]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modalidades](
	[IdModalidad] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdModalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotasEstudiantesTB]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotasEstudiantesTB](
	[IdNota] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Nota1] [decimal](5, 2) NULL,
	[Nota2] [decimal](5, 2) NULL,
	[NotaFinal] [decimal](5, 2) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaActualizacion] [datetime] NULL,
	[IdCoordinador] [int] NOT NULL,
 CONSTRAINT [PK_NotasEstudiantesTB] PRIMARY KEY CLUSTERED 
(
	[IdNota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticaEstudiante]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticaEstudiante](
	[IdPractica] [int] IDENTITY(1,1) NOT NULL,
	[IdVacante] [int] NULL,
	[IdEstado] [int] NULL,
	[IdUsuario] [int] NULL,
	[FechaAplicacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPractica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[IdProvincia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[IdEstado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Secciones]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Secciones](
	[IdSeccion] [int] IDENTITY(1,1) NOT NULL,
	[Seccion] [varchar](30) NULL,
	[IdEstado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefonos]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefonos](
	[IdTelefono] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[IdEmpresa] [int] NULL,
	[IdEncargado] [int] NULL,
	[Telefono] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTelefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioEspecialidad]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioEspecialidad](
	[IdUsuarioEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[IdEspecialidad] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdEstado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuarioEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](255) NULL,
	[Nombre] [varchar](255) NULL,
	[Apellido1] [varchar](255) NULL,
	[Apellido2] [varchar](255) NULL,
	[Contrasenna] [varchar](255) NULL,
	[FechaNacimiento] [datetime] NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaEgreso] [datetime] NULL,
	[IdSeccion] [int] NULL,
	[IdEstado] [int] NOT NULL,
	[IdDireccion] [int] NULL,
	[IdRol] [int] NOT NULL,
	[Sexo] [varchar](100) NULL,
	[Nacionalidad] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacantesPractica]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacantesPractica](
	[IdVacantePractica] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
	[IdEstado] [int] NULL,
	[IdEmpresa] [int] NULL,
	[Requisitos] [varchar](max) NULL,
	[FechaMaxAplicacion] [date] NULL,
	[NumeroCupos] [int] NULL,
	[FechaCierre] [date] NULL,
	[IdModalidad] [int] NULL,
	[Descripcion] [varchar](255) NULL,
	[Tipo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVacantePractica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[NotasEstudiantesTB] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Cantones]  WITH CHECK ADD  CONSTRAINT [FK_Canton_Provincia] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincias] ([IdProvincia])
GO
ALTER TABLE [dbo].[Cantones] CHECK CONSTRAINT [FK_Canton_Provincia]
GO
ALTER TABLE [dbo].[ComentariosPractica]  WITH CHECK ADD  CONSTRAINT [FK_ComentarioPractica_Practica] FOREIGN KEY([IdPractica])
REFERENCES [dbo].[PracticaEstudiante] ([IdPractica])
GO
ALTER TABLE [dbo].[ComentariosPractica] CHECK CONSTRAINT [FK_ComentarioPractica_Practica]
GO
ALTER TABLE [dbo].[ComentariosPractica]  WITH CHECK ADD  CONSTRAINT [FK_ComentarioPractica_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[ComentariosPractica] CHECK CONSTRAINT [FK_ComentarioPractica_Usuario]
GO
ALTER TABLE [dbo].[Comunicados]  WITH CHECK ADD  CONSTRAINT [FK_Comunicado_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Comunicados] CHECK CONSTRAINT [FK_Comunicado_Estado]
GO
ALTER TABLE [dbo].[Comunicados]  WITH CHECK ADD  CONSTRAINT [FK_Comunicado_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Comunicados] CHECK CONSTRAINT [FK_Comunicado_Usuario]
GO
ALTER TABLE [dbo].[Direcciones]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_Distrito] FOREIGN KEY([IdDistrito])
REFERENCES [dbo].[Distritos] ([IdDistrito])
GO
ALTER TABLE [dbo].[Direcciones] CHECK CONSTRAINT [FK_Direccion_Distrito]
GO
ALTER TABLE [dbo].[Distritos]  WITH CHECK ADD  CONSTRAINT [FK_Distrito_Canton] FOREIGN KEY([IdCanton])
REFERENCES [dbo].[Cantones] ([IdCanton])
GO
ALTER TABLE [dbo].[Distritos] CHECK CONSTRAINT [FK_Distrito_Canton]
GO
ALTER TABLE [dbo].[Documentos]  WITH CHECK ADD  CONSTRAINT [FK_Documento_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Documentos] CHECK CONSTRAINT [FK_Documento_Usuario]
GO
ALTER TABLE [dbo].[Emails]  WITH CHECK ADD  CONSTRAINT [FK_Correo_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([IdEmpresa])
GO
ALTER TABLE [dbo].[Emails] CHECK CONSTRAINT [FK_Correo_Empresa]
GO
ALTER TABLE [dbo].[Emails]  WITH CHECK ADD  CONSTRAINT [FK_Correo_Encargado] FOREIGN KEY([IdEncargado])
REFERENCES [dbo].[Encargados] ([IdEncargado])
GO
ALTER TABLE [dbo].[Emails] CHECK CONSTRAINT [FK_Correo_Encargado]
GO
ALTER TABLE [dbo].[Emails]  WITH CHECK ADD  CONSTRAINT [FK_Correo_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Emails] CHECK CONSTRAINT [FK_Correo_Usuario]
GO
ALTER TABLE [dbo].[Empresas]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Direccion] FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[Direcciones] ([IdDireccion])
GO
ALTER TABLE [dbo].[Empresas] CHECK CONSTRAINT [FK_Empresa_Direccion]
GO
ALTER TABLE [dbo].[Empresas]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Empresas] CHECK CONSTRAINT [FK_Empresa_Estado]
GO
ALTER TABLE [dbo].[Encargados]  WITH CHECK ADD  CONSTRAINT [FK_Encargado_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Encargados] CHECK CONSTRAINT [FK_Encargado_Estado]
GO
ALTER TABLE [dbo].[Especialidades]  WITH CHECK ADD  CONSTRAINT [FK_Especialidad_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Especialidades] CHECK CONSTRAINT [FK_Especialidad_Estado]
GO
ALTER TABLE [dbo].[EspecialidadesVacante]  WITH CHECK ADD  CONSTRAINT [FK_EspecialidadVacante_Especialidad] FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[Especialidades] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[EspecialidadesVacante] CHECK CONSTRAINT [FK_EspecialidadVacante_Especialidad]
GO
ALTER TABLE [dbo].[EspecialidadesVacante]  WITH CHECK ADD  CONSTRAINT [FK_EspecialidadVacante_Vacante] FOREIGN KEY([IdVacante])
REFERENCES [dbo].[VacantesPractica] ([IdVacantePractica])
GO
ALTER TABLE [dbo].[EspecialidadesVacante] CHECK CONSTRAINT [FK_EspecialidadVacante_Vacante]
GO
ALTER TABLE [dbo].[EstudianteEncargado]  WITH CHECK ADD  CONSTRAINT [FK_EstudianteEncargado_Encargado] FOREIGN KEY([IdEncargado])
REFERENCES [dbo].[Encargados] ([IdEncargado])
GO
ALTER TABLE [dbo].[EstudianteEncargado] CHECK CONSTRAINT [FK_EstudianteEncargado_Encargado]
GO
ALTER TABLE [dbo].[EstudianteEncargado]  WITH CHECK ADD  CONSTRAINT [FK_EstudianteEncargado_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[EstudianteEncargado] CHECK CONSTRAINT [FK_EstudianteEncargado_Estado]
GO
ALTER TABLE [dbo].[EstudianteEncargado]  WITH CHECK ADD  CONSTRAINT [FK_EstudianteEncargado_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[EstudianteEncargado] CHECK CONSTRAINT [FK_EstudianteEncargado_Usuario]
GO
ALTER TABLE [dbo].[InformacionMedica]  WITH CHECK ADD  CONSTRAINT [FK_InformacionMedica_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[InformacionMedica] CHECK CONSTRAINT [FK_InformacionMedica_Usuario]
GO
ALTER TABLE [dbo].[NotasEstudiantesTB]  WITH CHECK ADD  CONSTRAINT [FK_NotasEstudiantes_Coordinador] FOREIGN KEY([IdCoordinador])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[NotasEstudiantesTB] CHECK CONSTRAINT [FK_NotasEstudiantes_Coordinador]
GO
ALTER TABLE [dbo].[NotasEstudiantesTB]  WITH CHECK ADD  CONSTRAINT [FK_NotasEstudiantes_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[NotasEstudiantesTB] CHECK CONSTRAINT [FK_NotasEstudiantes_Usuario]
GO
ALTER TABLE [dbo].[PracticaEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_PracticaEstudiante_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[PracticaEstudiante] CHECK CONSTRAINT [FK_PracticaEstudiante_Estado]
GO
ALTER TABLE [dbo].[PracticaEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_PracticaEstudiante_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[PracticaEstudiante] CHECK CONSTRAINT [FK_PracticaEstudiante_Usuario]
GO
ALTER TABLE [dbo].[PracticaEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_PracticaEstudiante_Vacante] FOREIGN KEY([IdVacante])
REFERENCES [dbo].[VacantesPractica] ([IdVacantePractica])
GO
ALTER TABLE [dbo].[PracticaEstudiante] CHECK CONSTRAINT [FK_PracticaEstudiante_Vacante]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Rol_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Rol_Estado]
GO
ALTER TABLE [dbo].[Secciones]  WITH CHECK ADD  CONSTRAINT [FK_Seccion_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Secciones] CHECK CONSTRAINT [FK_Seccion_Estado]
GO
ALTER TABLE [dbo].[Telefonos]  WITH CHECK ADD  CONSTRAINT [FK_Telefono_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([IdEmpresa])
GO
ALTER TABLE [dbo].[Telefonos] CHECK CONSTRAINT [FK_Telefono_Empresa]
GO
ALTER TABLE [dbo].[Telefonos]  WITH CHECK ADD  CONSTRAINT [FK_Telefono_Encargado] FOREIGN KEY([IdEncargado])
REFERENCES [dbo].[Encargados] ([IdEncargado])
GO
ALTER TABLE [dbo].[Telefonos] CHECK CONSTRAINT [FK_Telefono_Encargado]
GO
ALTER TABLE [dbo].[Telefonos]  WITH CHECK ADD  CONSTRAINT [FK_Telefono_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Telefonos] CHECK CONSTRAINT [FK_Telefono_Usuario]
GO
ALTER TABLE [dbo].[UsuarioEspecialidad]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioEspecialidad_Especialidad] FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[Especialidades] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[UsuarioEspecialidad] CHECK CONSTRAINT [FK_UsuarioEspecialidad_Especialidad]
GO
ALTER TABLE [dbo].[UsuarioEspecialidad]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioEspecialidad_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[UsuarioEspecialidad] CHECK CONSTRAINT [FK_UsuarioEspecialidad_Estado]
GO
ALTER TABLE [dbo].[UsuarioEspecialidad]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioEspecialidad_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioEspecialidad] CHECK CONSTRAINT [FK_UsuarioEspecialidad_Usuario]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Direccion] FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[Direcciones] ([IdDireccion])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuario_Direccion]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuario_Estado]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Seccion] FOREIGN KEY([IdSeccion])
REFERENCES [dbo].[Secciones] ([IdSeccion])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuario_Seccion]
GO
ALTER TABLE [dbo].[VacantesPractica]  WITH CHECK ADD  CONSTRAINT [FK_VacantePractica_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([IdEmpresa])
GO
ALTER TABLE [dbo].[VacantesPractica] CHECK CONSTRAINT [FK_VacantePractica_Empresa]
GO
ALTER TABLE [dbo].[VacantesPractica]  WITH CHECK ADD  CONSTRAINT [FK_VacantePractica_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[VacantesPractica] CHECK CONSTRAINT [FK_VacantePractica_Estado]
GO
ALTER TABLE [dbo].[VacantesPractica]  WITH CHECK ADD  CONSTRAINT [FK_VacantePractica_Modalidad] FOREIGN KEY([IdModalidad])
REFERENCES [dbo].[Modalidades] ([IdModalidad])
GO
ALTER TABLE [dbo].[VacantesPractica] CHECK CONSTRAINT [FK_VacantePractica_Modalidad]
GO
/****** Object:  StoredProcedure [dbo].[AccionesEncargadoSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AccionesEncargadoSP]
(
    @IdUsuario    INT,
    @Nombre       VARCHAR(255),
    @Parentesco   VARCHAR(255),
    @Apellido1    VARCHAR(255),
    @Apellido2    VARCHAR(255),
    @Ocupacion    VARCHAR(255),
    @Correo       VARCHAR(255),
    @LugarTrabajo VARCHAR(255),
    @Telefono     VARCHAR(30),
    @Cedula       VARCHAR(30),
    @Encargado    INT    -- IdEncargado cuando es actualización
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdEncargado INT;

    /* ============================
       ACCIÓN 1: INSERTAR ENCARGADO
       ============================ */
    IF (@Encargado = 0)
   
    BEGIN
        INSERT INTO Encargados
        (
            Cedula,
            Nombre,
            Apellido1,
            Apellido2,
            FechaRegistro,
            Ocupacion,
            LugarTrabajo,
            IdEstado
        )
        VALUES
        (
            @Cedula,
            @Nombre,
            @Apellido1,
            @Apellido2,
            GETDATE(),
            @Ocupacion,
            @LugarTrabajo,
            1
        );

        -- Obtenemos el ID del encargado recién insertado
        SET @IdEncargado = SCOPE_IDENTITY();

        -- Relacionamos el estudiante con el encargado
        INSERT INTO EstudianteEncargado (IdUsuario, IdEncargado, IdEstado, Parentesco)
        VALUES (@IdUsuario, @IdEncargado, 1, @Parentesco);

        -- Insertamos el correo
        INSERT INTO Emails (IdEncargado, Email)
        VALUES (@IdEncargado, @Correo);

        -- Insertamos el teléfono
        INSERT INTO Telefonos (IdEncargado, Telefono)
        VALUES (@IdEncargado, @Telefono);
    END

    /* =============================
       ACCIÓN 2: ACTUALIZAR ENCARGADO
       ============================= */
 
        IF (@Encargado <> 0)
        BEGIN
            -- Actualizar datos del encargado
            UPDATE Encargados
            SET Cedula       = @Cedula,
                Nombre       = @Nombre,
                Apellido1    = @Apellido1,
                Apellido2    = @Apellido2,
                Ocupacion    = @Ocupacion,
                LugarTrabajo = @LugarTrabajo
            WHERE IdEncargado = @Encargado;

            /* ========== CORREO ========== */
            IF EXISTS (SELECT 1 FROM Emails WHERE IdEncargado = @Encargado)
            BEGIN
                UPDATE Emails
                SET Email = @Correo
                WHERE IdEncargado = @Encargado;
            END
            ELSE
            BEGIN
                INSERT INTO Emails (IdEncargado, Email)
                VALUES (@Encargado, @Correo);
            END

             IF EXISTS (SELECT 1 FROM EstudianteEncargado WHERE IdEncargado = @Encargado AND IdUsuario = @IdUsuario)
            BEGIN
                UPDATE EstudianteEncargado
                SET Parentesco = @Parentesco
                WHERE IdEncargado = @Encargado AND IdUsuario = @IdUsuario;
            END
            ELSE
            BEGIN
                INSERT INTO Emails (IdEncargado, Email)
                VALUES (@Encargado, @Correo);
            END

            /* ========= TELÉFONO ========= */
            IF EXISTS (SELECT 1 FROM Telefonos WHERE IdEncargado = @Encargado)
            BEGIN
                UPDATE Telefonos
                SET Telefono = @Telefono
                WHERE IdEncargado = @Encargado;
            END
            ELSE
            BEGIN
                INSERT INTO Telefonos (IdEncargado, Telefono)
                VALUES (@Encargado, @Telefono);
            END
        END
    
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarContrasennaSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     PROCEDURE [dbo].[ActualizarContrasennaSP]
    @IdUsuario VARCHAR(100),
    @Contrasenna VARCHAR(100)
AS
BEGIN
    -- Verifica si el usuario exist
    -- Actualiza la contraseña encriptada
    UPDATE Usuarios
    SET Contrasenna = CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @Contrasenna), 2)
    WHERE IdUsuario = @IdUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarInfoAcademicaSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[ActualizarInfoAcademicaSP]
(@IdUsuario INT,
@IdSeccion INT,
@IdEspecialidad INT)
AS
BEGIN
    UPDATE Usuarios SET IdSeccion = @IdSeccion WHERE IdUsuario = @IdUsuario;

    UPDATE UsuarioEspecialidad SET IdEspecialidad = @IdEspecialidad WHERE IdUsuario = @IdUsuario;

END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarInfoMedicaSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ActualizarInfoMedicaSP]
(
    @IdUsuario   INT,
    @Padecimiento VARCHAR(255),
    @Tratamiento  VARCHAR(255),
    @Alergia      VARCHAR(255)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ExisteInfo INT;

    SELECT @ExisteInfo = COUNT(*)
    FROM InformacionMedica
    WHERE IdUsuario = @IdUsuario;

    IF @ExisteInfo > 0
    BEGIN
        UPDATE InformacionMedica
        SET Padecimiento = @Padecimiento,
            Tratamiento  = @Tratamiento,
            Alergia      = @Alergia
        WHERE IdUsuario = @IdUsuario;
    END
    ELSE
    BEGIN
        INSERT INTO InformacionMedica (IdUsuario, Padecimiento, Tratamiento, Alergia)
        VALUES (@IdUsuario, @Padecimiento, @Tratamiento, @Alergia);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarInformacionPersonalSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ActualizarInformacionPersonalSP] 
(
    @IdUsuario       INT,
    @Nombre          VARCHAR(255),
    @Apellido1       VARCHAR(255),
    @Apellido2       VARCHAR(255),
    @Cedula          VARCHAR(255),
    @Telefono        VARCHAR(30),
    @Correo          VARCHAR(100),
    @Provincia       VARCHAR(100),
    @Canton          VARCHAR(100),
    @Distrito        VARCHAR(100),
    @DireccionExacta VARCHAR(MAX),
    @FechaNacimiento DATETIME,
    @Sexo VARCHAR(100),
    @Nacionalidad VARCHAR(255)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ExisteCorreo    INT;
    DECLARE @ExisteTelefono  INT;
    DECLARE @ExisteProvincia INT;
    DECLARE @ExisteDistrito  INT;
    DECLARE @ExisteCanton    INT;
    DECLARE @IdProvincia     INT;
    DECLARE @IdCanton        INT;
    DECLARE @IdDistrito      INT;
    DECLARE @IdDireccion     INT;  -- para la dirección del usuario

    ------------------------------------------------------
    -- 1. Actualizar datos básicos del usuario
    ------------------------------------------------------
    UPDATE Usuarios
    SET Nombre         = @Nombre,
        Apellido1      = @Apellido1,
        Apellido2      = @Apellido2,
        Cedula         = @Cedula,
        FechaNacimiento = @FechaNacimiento,
        Sexo = @Sexo,
        Nacionalidad = @Nacionalidad
    WHERE IdUsuario = @IdUsuario;

    ------------------------------------------------------
    -- 2. Correo: actualizar si existe, si no insertar
    ------------------------------------------------------
    SELECT @ExisteCorreo = COUNT(*)
    FROM Emails
    WHERE IdUsuario = @IdUsuario;

    IF @ExisteCorreo > 0
    BEGIN
        UPDATE Emails
        SET Email = @Correo
        WHERE IdUsuario = @IdUsuario;
    END
    ELSE
    BEGIN
        INSERT INTO Emails (IdUsuario, Email)
        VALUES (@IdUsuario, @Correo);
    END;

    ------------------------------------------------------
    -- 3. Teléfono: actualizar si existe, si no insertar
    ------------------------------------------------------
    SELECT @ExisteTelefono = COUNT(*)
    FROM Telefonos
    WHERE IdUsuario = @IdUsuario;

    IF @ExisteTelefono > 0
    BEGIN
        UPDATE Telefonos
        SET Telefono = @Telefono
        WHERE IdUsuario = @IdUsuario;
    END
    ELSE
    BEGIN
        INSERT INTO Telefonos (IdUsuario, Telefono)
        VALUES (@IdUsuario, @Telefono);
    END;

    ------------------------------------------------------
    -- 4. Provincia: obtener o crear y luego obtener IdProvincia
    ------------------------------------------------------
    SELECT @ExisteProvincia = COUNT(*)
    FROM Provincias
    WHERE Nombre = @Provincia;

    IF @ExisteProvincia > 0
    BEGIN
        SELECT @IdProvincia = IdProvincia
        FROM Provincias
        WHERE Nombre = @Provincia;
    END
    ELSE
    BEGIN
        INSERT INTO Provincias (Nombre)
        VALUES (@Provincia);

        SELECT @IdProvincia = SCOPE_IDENTITY();
    END;

    ------------------------------------------------------
    -- 5. Cantón: obtener o crear y luego obtener IdCanton
    ------------------------------------------------------
    SELECT @ExisteCanton = COUNT(*)
    FROM Cantones
    WHERE Nombre = @Canton
      AND IdProvincia = @IdProvincia;  -- opcional pero recomendable

    IF @ExisteCanton > 0
    BEGIN
        SELECT @IdCanton = IdCanton
        FROM Cantones
        WHERE Nombre = @Canton
          AND IdProvincia = @IdProvincia;
    END
    ELSE
    BEGIN
        INSERT INTO Cantones (Nombre, IdProvincia)
        VALUES (@Canton, @IdProvincia);

        SELECT @IdCanton = SCOPE_IDENTITY();
    END;

    ------------------------------------------------------
    -- 6. Distrito: obtener o crear y luego obtener IdDistrito
    ------------------------------------------------------
    SELECT @ExisteDistrito = COUNT(*)
    FROM Distritos
    WHERE Nombre = @Distrito
      AND IdCanton = @IdCanton;  -- opcional pero recomendable

    IF @ExisteDistrito > 0
    BEGIN
        SELECT @IdDistrito = IdDistrito
        FROM Distritos
        WHERE Nombre = @Distrito
          AND IdCanton = @IdCanton;
    END
    ELSE
    BEGIN
        INSERT INTO Distritos (Nombre, IdCanton)
        VALUES (@Distrito, @IdCanton);

        SELECT @IdDistrito = SCOPE_IDENTITY();
    END;

    ------------------------------------------------------
    -- 7. Dirección: actualizar si existe, si no insertar y asociar al usuario
    ------------------------------------------------------
    -- Asumo que Usuarios tiene columna IdDireccion
    SELECT @IdDireccion = IdDireccion
    FROM Usuarios
    WHERE IdUsuario = @IdUsuario;

    IF @IdDireccion IS NOT NULL
    BEGIN
        -- Actualizar dirección existente
        UPDATE Direcciones
        SET DireccionExacta = @DireccionExacta,
            IdDistrito      = @IdDistrito
        WHERE IdDireccion = @IdDireccion;
    END
    ELSE
    BEGIN
        -- Crear nueva dirección y asociarla al usuario
        INSERT INTO Direcciones (DireccionExacta, IdDistrito)
        VALUES (@DireccionExacta, @IdDistrito);

        SELECT @IdDireccion = SCOPE_IDENTITY();

        UPDATE Usuarios
        SET IdDireccion = @IdDireccion
        WHERE IdUsuario = @IdUsuario;
    END;
END;
GO
/****** Object:  StoredProcedure [dbo].[AsignarEstudianteSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   POST: Asignar Estudiante (2 clics: En Proceso -> Asignada)
   Controller: POST api/vacantes/asignar-estudiante
   Devuelve (ok, message)
   ========================================================= */
CREATE   PROCEDURE [dbo].[AsignarEstudianteSP]
    @IdVacante INT,
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NumCupos INT, @Ocupados INT;
    DECLARE @IdE_Proc  INT = dbo.fn_IdEstado('En Proceso de Aplicacion');
    DECLARE @IdE_Asig  INT = dbo.fn_IdEstado('Asignada');
    DECLARE @IdE_Curso INT = dbo.fn_IdEstado('En Curso');
    DECLARE @IdE_Aprob INT = dbo.fn_IdEstado('Aprobada');
    DECLARE @IdE_Fin   INT = dbo.fn_IdEstado('Finalizada');
    DECLARE @IdE_Rezag INT = dbo.fn_IdEstado('Rezagado');
    DECLARE @IdE_Ret   INT = dbo.fn_IdEstado('Retirada');

    IF @IdE_Proc IS NULL OR @IdE_Asig IS NULL OR @IdE_Ret IS NULL
    BEGIN
        SELECT 0 AS ok, 'Estados requeridos no existen (En Proceso, Asignada, Retirada).' AS message;
        RETURN;
    END

    SELECT @NumCupos = NumeroCupos FROM VacantesPractica WHERE IdVacantePractica = @IdVacante;
    IF @NumCupos IS NULL
    BEGIN
        SELECT 0 AS ok, 'Vacante no encontrada.' AS message; RETURN;
    END

    SELECT @Ocupados = COUNT(*) 
    FROM PracticaEstudiante 
    WHERE IdVacante = @IdVacante AND IdEstado IN (@IdE_Asig,@IdE_Curso,@IdE_Aprob,@IdE_Fin,@IdE_Rezag);

    IF @Ocupados >= @NumCupos
    BEGIN
        SELECT 0 AS ok, CONCAT('Cupos llenos (',@NumCupos,').') AS message; RETURN;
    END

    IF EXISTS (
        SELECT 1 FROM PracticaEstudiante p
        INNER JOIN Estados e ON e.IdEstado = p.IdEstado
        WHERE p.IdUsuario = @IdUsuario
          AND p.IdVacante <> @IdVacante
          AND e.IdEstado IN (@IdE_Asig,@IdE_Curso,@IdE_Aprob,@IdE_Fin,@IdE_Rezag)
    )
    BEGIN
        SELECT 0 AS ok, 'El estudiante tiene una práctica activa en otra vacante.' AS message; RETURN;
    END

    DECLARE @IdPractica INT, @IdEstadoActual INT, @EstadoActual NVARCHAR(100);
    SELECT TOP 1 @IdPractica = IdPractica, @IdEstadoActual = IdEstado
    FROM PracticaEstudiante
    WHERE IdUsuario = @IdUsuario AND IdVacante = @IdVacante
    ORDER BY IdPractica DESC;

    SELECT @EstadoActual = LTRIM(RTRIM(LOWER(Descripcion))) FROM Estados WHERE IdEstado = @IdEstadoActual;

    IF @IdPractica IS NULL
    BEGIN
        INSERT INTO PracticaEstudiante (IdVacante, IdEstado, IdUsuario, FechaAplicacion)
        VALUES (@IdVacante, @IdE_Proc, @IdUsuario, GETDATE());
        SELECT 1 AS ok, 'Estudiante agregado en "En Proceso de Aplicación".' AS message; RETURN;
    END

    IF @EstadoActual = 'retirada'
    BEGIN
        UPDATE PracticaEstudiante SET IdEstado = @IdE_Proc, FechaAplicacion = GETDATE()
        WHERE IdPractica = @IdPractica;
        SELECT 1 AS ok, 'Reactivado a "En Proceso de Aplicación".' AS message; RETURN;
    END

    IF @EstadoActual = 'en proceso de aplicacion'
    BEGIN
        UPDATE PracticaEstudiante SET IdEstado = @IdE_Asig, FechaAplicacion = GETDATE()
        WHERE IdPractica = @IdPractica;
        SELECT 1 AS ok, 'Actualizado a "Asignada".' AS message; RETURN;
    END

    IF @EstadoActual = 'asignada'
    BEGIN
        SELECT 0 AS ok, 'Ya está asignado en esta vacante.' AS message; RETURN;
    END

    IF @EstadoActual IN ('aprobada','en curso','finalizada','rezagado')
    BEGIN
        SELECT 0 AS ok, CONCAT('No se puede reasignar desde estado "', @EstadoActual, '".') AS message; RETURN;
    END

    -- fallback: volver a "En Proceso"
    UPDATE PracticaEstudiante SET IdEstado = @IdE_Proc, FechaAplicacion = GETDATE()
    WHERE IdPractica = @IdPractica;
    SELECT 1 AS ok, 'Estudiante en "En Proceso de Aplicación".' AS message;
END
GO
/****** Object:  StoredProcedure [dbo].[CrearVacanteSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   POST: Crear Vacante
   Controller: POST api/vacantes/crear
   ========================================================= */
CREATE   PROCEDURE [dbo].[CrearVacanteSP]
    @Nombre NVARCHAR(255),
    @IdEmpresa INT,
    @IdEspecialidad INT,
    @NumCupos INT,
    @IdModalidad INT,
    @Requerimientos NVARCHAR(MAX),
    @Descripcion NVARCHAR(255),
    @FechaMaxAplicacion DATE,
    @FechaCierre DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdEstadoActivo INT = dbo.fn_IdEstado('Activo');
    IF @IdEstadoActivo IS NULL
    BEGIN
        RAISERROR('No existe estado "Activo" en Estados.',16,1);
        RETURN;
    END

    BEGIN TRY
        BEGIN TRAN;

        INSERT INTO VacantesPractica
        (Nombre, IdEstado, IdEmpresa, Requisitos, FechaMaxAplicacion, NumeroCupos, FechaCierre, IdModalidad, Descripcion, Tipo)
        VALUES
        (@Nombre, @IdEstadoActivo, @IdEmpresa, @Requerimientos, @FechaMaxAplicacion, @NumCupos, @FechaCierre, @IdModalidad, @Descripcion, NULL);

        DECLARE @NewId INT = SCOPE_IDENTITY();

        IF @IdEspecialidad IS NOT NULL AND @IdEspecialidad > 0
        BEGIN
            INSERT INTO EspecialidadesVacante (IdVacante, IdEspecialidad)
            VALUES (@NewId, @IdEspecialidad);
        END

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[DesasignarPracticaSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   POST: Desasignar por IdPractica
   Controller: POST api/vacantes/desasignar-practica
   Devuelve (ok, message)
   ========================================================= */
CREATE   PROCEDURE [dbo].[DesasignarPracticaSP]
    @IdPractica INT,
    @Comentario NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdE_Ret INT = dbo.fn_IdEstado('Retirada');
    IF @IdE_Ret IS NULL
    BEGIN
        SELECT 0 AS ok, 'No existe estado "Retirada".' AS message; RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM PracticaEstudiante WHERE IdPractica = @IdPractica)
    BEGIN
        SELECT 0 AS ok, 'Práctica no encontrada.' AS message; RETURN;
    END

    UPDATE PracticaEstudiante
    SET IdEstado = @IdE_Ret, FechaAplicacion = GETDATE()
    WHERE IdPractica = @IdPractica;

    IF (ISNULL(@Comentario,'') <> '')
    BEGIN
        DECLARE @IdUsuario INT = (SELECT IdUsuario FROM PracticaEstudiante WHERE IdPractica = @IdPractica);
        INSERT INTO ComentariosPractica (Comentario, Fecha, IdUsuario, IdPractica, Nota, Tipo)
        VALUES (@Comentario, GETDATE(), @IdUsuario, @IdPractica, NULL, 'Desasignación');
    END

    SELECT 1 AS ok, 'Práctica desasignada (Retirada).' AS message;
END
GO
/****** Object:  StoredProcedure [dbo].[DetalleVacanteSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   GET: Detalle Vacante
   Controller: GET api/vacantes/detalle/{id}
   ========================================================= */
CREATE   PROCEDURE [dbo].[DetalleVacanteSP]
    @IdVacante INT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH Esp AS (
        SELECT ev.IdVacante,
               STRING_AGG(e.Nombre, ', ') WITHIN GROUP (ORDER BY e.Nombre) AS Especialidades
        FROM EspecialidadesVacante ev
        INNER JOIN Especialidades e ON e.IdEspecialidad = ev.IdEspecialidad
        WHERE ev.IdVacante = @IdVacante
        GROUP BY ev.IdVacante
    ),
    Ubi AS (
        SELECT
            emp.IdEmpresa,
            CONCAT(
                ISNULL(p.Nombre, ''), CASE WHEN p.Nombre IS NULL THEN '' ELSE ', ' END,
                ISNULL(c.Nombre, ''), CASE WHEN c.Nombre IS NULL THEN '' ELSE ', ' END,
                ISNULL(d.Nombre, ''), CASE WHEN d.Nombre IS NULL THEN '' ELSE ', ' END,
                ISNULL(dir.DireccionExacta, '')
            ) AS Ubicacion
        FROM Empresas emp
        LEFT JOIN Direcciones dir ON dir.IdDireccion = emp.IdDireccion
        LEFT JOIN Distritos d     ON d.IdDistrito    = dir.IdDistrito
        LEFT JOIN Cantones c      ON c.IdCanton      = d.IdCanton
        LEFT JOIN Provincias p    ON p.IdProvincia   = c.IdProvincia
        WHERE emp.IdEmpresa = (SELECT IdEmpresa FROM VacantesPractica WHERE IdVacantePractica = @IdVacante)
    )
    SELECT
        v.IdVacantePractica AS IdVacante,
        v.Nombre,
        v.IdEmpresa,
        emp.NombreEmpresa AS EmpresaNombre,
        v.IdModalidad,
        v.Descripcion,
        v.Requisitos       AS Requerimientos,
        v.NumeroCupos      AS NumCupos,
        v.FechaMaxAplicacion,
        v.FechaCierre,
        v.Tipo,
        e.Descripcion      AS EstadoNombre,
        COALESCE(esp.Especialidades,'—') AS Especialidades,
        COALESCE(u.Ubicacion,'No registrada') AS Ubicacion
    FROM VacantesPractica v
    INNER JOIN Empresas emp ON emp.IdEmpresa = v.IdEmpresa
    INNER JOIN Estados e    ON e.IdEstado  = v.IdEstado
    LEFT  JOIN Esp esp      ON esp.IdVacante = v.IdVacantePractica
    LEFT  JOIN Ubi u        ON u.IdEmpresa = v.IdEmpresa
    WHERE v.IdVacantePractica = @IdVacante;
END
GO
/****** Object:  StoredProcedure [dbo].[EditarVacanteSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   POST: Editar Vacante
   Controller: POST api/vacantes/editar
   ========================================================= */
CREATE   PROCEDURE [dbo].[EditarVacanteSP]
    @IdVacante INT,
    @Nombre NVARCHAR(255),
    @IdEmpresa INT,
    @IdEspecialidad INT,
    @NumCupos INT,
    @IdModalidad INT,
    @Requerimientos NVARCHAR(MAX),
    @Descripcion NVARCHAR(255),
    @FechaMaxAplicacion DATE,
    @FechaCierre DATE
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        UPDATE VacantesPractica
        SET Nombre = @Nombre,
            IdEmpresa = @IdEmpresa,
            Requisitos = @Requerimientos,
            NumeroCupos = @NumCupos,
            IdModalidad = @IdModalidad,
            Descripcion = @Descripcion,
            FechaMaxAplicacion = @FechaMaxAplicacion,
            FechaCierre = @FechaCierre
        WHERE IdVacantePractica = @IdVacante;

        IF @IdEspecialidad IS NOT NULL AND @IdEspecialidad > 0
        BEGIN
            -- Mantener una especialidad principal (si usas varias, quita estas dos líneas y gestiona aparte)
            DELETE FROM EspecialidadesVacante WHERE IdVacante = @IdVacante;
            INSERT INTO EspecialidadesVacante (IdVacante, IdEspecialidad) VALUES (@IdVacante, @IdEspecialidad);
        END

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarDocumentoSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EliminarDocumentoSP]
    @IdDocumento INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        DELETE FROM Documentos 
        WHERE IdDocumento = @IdDocumento;
        
        IF @@ROWCOUNT > 0
            SELECT 1 AS Exito, 'Documento eliminado correctamente' AS Mensaje;
        ELSE
            SELECT 0 AS Exito, 'No se pudo eliminar el documento' AS Mensaje;
    END TRY
    BEGIN CATCH
        SELECT 0 AS Exito, ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarVacanteSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   POST: Eliminar/Archivar Vacante
   Controller: POST api/vacantes/eliminar
   Devuelve (ok, message)
   ========================================================= */
CREATE   PROCEDURE [dbo].[EliminarVacanteSP]
    @IdVacante INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdE_Asig  INT = dbo.fn_IdEstado('Asignada');
    DECLARE @IdE_Curso INT = dbo.fn_IdEstado('En Curso');
    DECLARE @IdE_Aprob INT = dbo.fn_IdEstado('Aprobada');
    DECLARE @IdE_Fin   INT = dbo.fn_IdEstado('Finalizada');
    DECLARE @IdE_Rezag INT = dbo.fn_IdEstado('Rezagado');
    DECLARE @IdE_Arch  INT = dbo.fn_IdEstado('Archivado');

    IF @IdE_Arch IS NULL
    BEGIN
        SELECT 0 AS ok, 'No existe estado "Archivado".' AS message;
        RETURN;
    END

    IF EXISTS (
        SELECT 1 FROM PracticaEstudiante p
        WHERE p.IdVacante = @IdVacante
          AND p.IdEstado IN (@IdE_Asig,@IdE_Curso,@IdE_Aprob,@IdE_Fin,@IdE_Rezag)
    )
    BEGIN
        SELECT 0 AS ok, 'No se puede archivar: hay estudiantes con proceso activo.' AS message;
        RETURN;
    END

    UPDATE VacantesPractica
    SET IdEstado = @IdE_Arch
    WHERE IdVacantePractica = @IdVacante;

    SELECT 1 AS ok, 'Vacante archivada correctamente.' AS message;
END
GO
/****** Object:  StoredProcedure [dbo].[GetVacantesSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   GET: Listar Vacantes (para DataTable)
   Controller: GET api/vacantes/listar?idEstado=&idEspecialidad=&idModalidad=
   ========================================================= */
CREATE   PROCEDURE [dbo].[GetVacantesSP]
    @IdEstado       INT = 0,
    @IdEspecialidad INT = 0,
    @IdModalidad    INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdE_Asig   INT = dbo.fn_IdEstado('Asignada');
    DECLARE @IdE_Curso  INT = dbo.fn_IdEstado('En Curso');
    DECLARE @IdE_Aprob  INT = dbo.fn_IdEstado('Aprobada');
    DECLARE @IdE_Fin    INT = dbo.fn_IdEstado('Finalizada');
    DECLARE @IdE_Rezag  INT = dbo.fn_IdEstado('Rezagado');

    ;WITH Esp AS (
        SELECT ev.IdVacante,
               STRING_AGG(e.Nombre, ', ') WITHIN GROUP (ORDER BY e.Nombre) AS EspecialidadNombre
        FROM EspecialidadesVacante ev
        INNER JOIN Especialidades e ON e.IdEspecialidad = ev.IdEspecialidad
        GROUP BY ev.IdVacante
    ),
    Post AS (
        SELECT p.IdVacante,
               COUNT(*) AS NumPostulados
        FROM PracticaEstudiante p
        WHERE p.IdEstado IN (@IdE_Asig, @IdE_Curso, @IdE_Aprob, @IdE_Fin, @IdE_Rezag)
        GROUP BY p.IdVacante
    )
    SELECT
        v.IdVacantePractica            AS IdVacante,
        v.Nombre,
        emp.IdEmpresa,
        emp.NombreEmpresa              AS EmpresaNombre,
        COALESCE(esp.EspecialidadNombre, '—') AS EspecialidadNombre,
        v.Requisitos                   AS Requerimientos,
        v.NumeroCupos                  AS NumCupos,
        COALESCE(po.NumPostulados, 0)  AS NumPostulados,
        est.Descripcion                AS EstadoNombre,
        v.IdModalidad,
        v.Descripcion,
        v.FechaMaxAplicacion,
        v.FechaCierre,
        v.Tipo
    FROM VacantesPractica v
    INNER JOIN Empresas emp   ON emp.IdEmpresa = v.IdEmpresa
    INNER JOIN Estados est    ON est.IdEstado  = v.IdEstado
    LEFT  JOIN Esp esp        ON esp.IdVacante = v.IdVacantePractica
    LEFT  JOIN Post po        ON po.IdVacante  = v.IdVacantePractica
    WHERE (@IdEstado = 0 OR v.IdEstado = @IdEstado)
      AND (@IdEspecialidad = 0 OR EXISTS (
            SELECT 1 FROM EspecialidadesVacante ev
            WHERE ev.IdVacante = v.IdVacantePractica
              AND ev.IdEspecialidad = @IdEspecialidad
      ))
      AND (@IdModalidad = 0 OR v.IdModalidad = @IdModalidad)
    ORDER BY v.Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[GuardarComentarioEvaluacionSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GuardarComentarioEvaluacionSP]
    @IdUsuario INT,
    @IdCoordinador INT,
    @Comentario VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @IdRol INT;
        SELECT @IdRol = IdRol FROM Usuarios WHERE IdUsuario = @IdCoordinador;
        
        IF @IdRol <> 2
        BEGIN
            RAISERROR('Solo los coordinadores pueden agregar comentarios de evaluación.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        DECLARE @IdPractica INT;
        SELECT TOP 1 @IdPractica = IdPractica 
        FROM PracticaEstudiante 
        WHERE IdUsuario = @IdUsuario 
            AND IdEstado = (SELECT IdEstado FROM Estados WHERE Descripcion = 'En Curso');
        
        IF @IdPractica IS NULL
        BEGIN
            RAISERROR('El estudiante no tiene una práctica activa.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        INSERT INTO ComentariosPractica (Comentario, Fecha, IdUsuario, IdPractica, Tipo)
        VALUES (@Comentario, GETDATE(), @IdCoordinador, @IdPractica, 'Evaluación Tutor');
        
        COMMIT TRANSACTION;
        
        SELECT 1 AS Exito, 'Comentario guardado correctamente' AS Mensaje;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SELECT 0 AS Exito, ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[GuardarDocumentoEvaluacionSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GuardarDocumentoEvaluacionSP]
    @IdUsuario INT,
    @NombreArchivo VARCHAR(255),
    @Tipo VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        INSERT INTO Documentos (Documento, Tipo, IdUsuario, FechaSubida)
        VALUES (@NombreArchivo, @Tipo, @IdUsuario, GETDATE());
        
        DECLARE @IdDocumento INT = SCOPE_IDENTITY();
        
        COMMIT TRANSACTION;
        
        SELECT 1 AS Exito, 'Documento guardado correctamente' AS Mensaje, @IdDocumento AS IdDocumento;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SELECT 0 AS Exito, ERROR_MESSAGE() AS Mensaje, NULL AS IdDocumento;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[GuardarNotaEstudianteSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GuardarNotaEstudianteSP]
    @IdUsuario INT,
    @Nota1 DECIMAL(5,2),
    @Nota2 DECIMAL(5,2),
    @NotaFinal DECIMAL(5,2),
    @IdCoordinador INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @IdRol INT;
        SELECT @IdRol = IdRol FROM Usuarios WHERE IdUsuario = @IdCoordinador;
        
        IF @IdRol <> 2
        BEGIN
            RAISERROR('Solo los coordinadores pueden asignar notas.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        IF EXISTS (SELECT 1 FROM NotasEstudiantesTB WHERE IdUsuario = @IdUsuario)
        BEGIN
            UPDATE NotasEstudiantesTB
            SET Nota1 = @Nota1,
                Nota2 = @Nota2,
                NotaFinal = @NotaFinal,
                FechaActualizacion = GETDATE(),
                IdCoordinador = @IdCoordinador
            WHERE IdUsuario = @IdUsuario;
        END
        ELSE
        BEGIN
            INSERT INTO NotasEstudiantesTB (IdUsuario, Nota1, Nota2, NotaFinal, FechaRegistro, IdCoordinador)
            VALUES (@IdUsuario, @Nota1, @Nota2, @NotaFinal, GETDATE(), @IdCoordinador);
        END
        
        COMMIT TRANSACTION;
        
        SELECT 1 AS Exito, 'Nota registrada correctamente' AS Mensaje;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SELECT 0 AS Exito, ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[LoginSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   PROCEDURE [dbo].[LoginSP]
    @CEDULA VARCHAR(100),
    @CONTRASENNA VARCHAR(100)
AS
BEGIN

    SELECT 
        U.IdUsuario,
        U.Nombre,
        U.Apellido1, 
        U.Apellido2,
        U.Cedula,
        U.IdRol,
        U.IdEstado,
        S.Seccion,
        E.Nombre AS Especialidad
           
    FROM dbo.Usuarios U 
    INNER JOIN dbo.Secciones S 
    on U.IdSeccion = S.IdSeccion
    INNER JOIN dbo.UsuarioEspecialidad UE
    ON UE.IdUsuario = U.IdUsuario
    INNER JOIN dbo.Especialidades E
    ON UE.IdEspecialidad = E.IdEspecialidad
    WHERE U.Cedula = @CEDULA
    AND Contrasenna = CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @CONTRASENNA), 2);
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCedulaUsuarioSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ObtenerCedulaUsuarioSP]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Cedula
    FROM Usuarios
    WHERE IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerComentariosEstudianteSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerComentariosEstudianteSP]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        c.IdComentario,
        u.Nombre + ' ' + u.Apellido1 AS Autor,
        CONVERT(VARCHAR(10), c.Fecha, 103) AS FechaFormateada,
        c.Fecha,
        c.Comentario,
        c.Tipo
    FROM ComentariosPractica c
    INNER JOIN PracticaEstudiante p ON c.IdPractica = p.IdPractica
    INNER JOIN Usuarios u ON c.IdUsuario = u.IdUsuario
    WHERE p.IdUsuario = @IdUsuario
        AND (
            LTRIM(RTRIM(c.Tipo)) = 'Evaluación Tutor' 
            OR LTRIM(RTRIM(c.Tipo)) = 'Actualización Estado'
        )
    ORDER BY c.Fecha DESC, c.IdComentario DESC; 
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerDocumentoPorIdSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ObtenerDocumentoPorIdSP]
    @IdDocumento INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        IdDocumento,
        Documento,
        IdUsuario
    FROM Documentos
    WHERE IdDocumento = @IdDocumento;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerDocumentosEvaluacionSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerDocumentosEvaluacionSP]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        IdDocumento,
        Documento AS NombreArchivo,
        Tipo,
        FechaSubida,
        LOWER(RIGHT(Documento, CHARINDEX('.', REVERSE(Documento)) - 1)) AS Extension
    FROM Documentos
    WHERE IdUsuario = @IdUsuario 
        AND Tipo = 'Evaluación'
    ORDER BY FechaSubida DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEncargadoSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerEncargadoSP](@IdEncargado INT, @IdUsuario INT)
AS
BEGIN
    SELECT E.Cedula, E.Nombre, E.Apellido1, E.Apellido2, E.Ocupacion,
    E.LugarTrabajo, C.Email as Correo, E.IdEncargado, T.Telefono, EE.Parentesco
    FROM Encargados E
    INNER JOIN Emails C
    ON E.IdEncargado = C.IdEncargado
    INNER JOIN Telefonos T
    ON E.IdEncargado = T.IdEncargado
    INNER JOIN EstudianteEncargado EE
    ON EE.IdEncargado = E.IdEncargado
    WHERE E.IdEstado = 1 AND E.IdEncargado = @IdEncargado AND EE.IdUsuario = @IdUsuario;



END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEncargadosSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ObtenerEncargadosSP] (
@IdUsuario INT)
AS
BEGIN
    SELECT E.Cedula, E.Nombre, E.Apellido1, E.Apellido2, E.FechaRegistro, E.Ocupacion, E.LugarTrabajo, E.IdEncargado, EE.IdEstado,
    EE.Parentesco, C.Email as Correo, T.Telefono
    FROM Encargados E
    INNER JOIN EstudianteEncargado EE
    ON E.IdEncargado = EE.IdEncargado
    LEFT JOIN Emails C
    ON C.IdEncargado = E.IdEncargado
    LEFT JOIN Telefonos T
    ON T.IdEncargado = E.IdEncargado
    WHERE EE.IdUsuario = @IdUsuario
    AND EE.IdEstado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEspecialidadesSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerEspecialidadesSP] 
AS
BEGIN
    SELECT IdEspecialidad, Nombre
    FROM Especialidades WHERE IdEstado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEstudiantesAsignarSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   GET: Estudiantes para Asignar (sin rol profesor)
   Controller: GET api/vacantes/estudiantes-asignar?idVacante=&idUsuarioSesion=
   ========================================================= */
CREATE   PROCEDURE [dbo].[ObtenerEstudiantesAsignarSP]
    @IdVacante INT,
    @IdUsuarioSesion INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdRolEst INT; 
    SELECT @IdRolEst = IdRol FROM Roles WHERE LOWER(LTRIM(RTRIM(Descripcion)))='estudiante';

    DECLARE @IdE_Activo INT = dbo.fn_IdEstado('Activo');

    -- especialidades que requiere la vacante
    DECLARE @Req TABLE (IdEspecialidad INT);
    INSERT INTO @Req(IdEspecialidad)
    SELECT IdEspecialidad FROM EspecialidadesVacante WHERE IdVacante = @IdVacante;

    ;WITH EstEsp AS (
        SELECT ue.IdUsuario,
               STRING_AGG(e.Nombre, ', ') WITHIN GROUP (ORDER BY e.Nombre) AS Especialidad
        FROM UsuarioEspecialidad ue
        INNER JOIN Especialidades e ON e.IdEspecialidad = ue.IdEspecialidad
        WHERE ue.IdEstado = @IdE_Activo
        GROUP BY ue.IdUsuario
    ),
    UltimoEstado AS (
        SELECT p.IdUsuario,
               MAX(p.IdPractica) AS IdPracticaUlt
        FROM PracticaEstudiante p
        GROUP BY p.IdUsuario
    )
    SELECT
        u.IdUsuario,
        u.Cedula,
        NombreCompleto = CONCAT(u.Nombre,' ',u.Apellido1,' ',u.Apellido2),
        ISNULL(es.Especialidad,'—') AS Especialidad,
        EstadoAcademico = CASE WHEN u.IdEstado = @IdE_Activo THEN 1 ELSE 0 END,
        -- Estado general (último)
        EstadoPractica = ISNULL((
            SELECT TOP 1 e1.Descripcion
            FROM PracticaEstudiante p1
            INNER JOIN Estados e1 ON e1.IdEstado = p1.IdEstado
            WHERE p1.IdUsuario = u.IdUsuario
            ORDER BY p1.IdPractica DESC
        ), 'Sin proceso activo'),
        -- Estado con esta vacante (último)
        EstadoVacante = ISNULL((
            SELECT TOP 1 e2.Descripcion
            FROM PracticaEstudiante p2
            INNER JOIN Estados e2 ON e2.IdEstado = p2.IdEstado
            WHERE p2.IdUsuario = u.IdUsuario AND p2.IdVacante = @IdVacante
            ORDER BY p2.IdPractica DESC
        ), 'Sin proceso activo'),
        -- IdPractica último con esta vacante
        IdPracticaVacante = ISNULL((
            SELECT TOP 1 p3.IdPractica
            FROM PracticaEstudiante p3
            WHERE p3.IdUsuario = u.IdUsuario AND p3.IdVacante = @IdVacante
            ORDER BY p3.IdPractica DESC
        ), 0)
    FROM Usuarios u
    LEFT JOIN EstEsp es ON es.IdUsuario = u.IdUsuario
    WHERE u.IdRol = @IdRolEst
      AND u.IdEstado = @IdE_Activo
      AND EXISTS (
            SELECT 1
            FROM UsuarioEspecialidad ue
            WHERE ue.IdUsuario = u.IdUsuario
              AND ue.IdEstado = @IdE_Activo
              AND ue.IdEspecialidad IN (SELECT IdEspecialidad FROM @Req)
      )
    ORDER BY NombreCompleto;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEstudiantesParaEvaluacionSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ObtenerEstudiantesParaEvaluacionSP]
    @IdCoordinador INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @IdRol INT;
    SELECT @IdRol = IdRol FROM Usuarios WHERE IdUsuario = @IdCoordinador;
    
    IF @IdRol <> 2
    BEGIN
        RAISERROR('Solo los coordinadores pueden acceder a las evaluaciones.', 16, 1);
        RETURN;
    END
    
    SELECT 
        u.IdUsuario,
        u.Cedula,
        u.Nombre + ' ' + u.Apellido1 + ' ' + ISNULL(u.Apellido2, '') AS NombreCompleto,
        e.Nombre AS Especialidad,
        t.Telefono,
        v.Nombre AS PracticaAsignada,
        CASE 
            WHEN n.NotaFinal >= 70 THEN 'Aprobado'
            WHEN n.NotaFinal < 70 AND n.NotaFinal IS NOT NULL THEN 'Rezagado'
            ELSE 'Aprobado'
        END AS EstadoAcademico,
        ISNULL(CAST(n.NotaFinal AS DECIMAL(5,2)), 0.00) AS NotaFinal,
        p.IdPractica,
        p.IdVacante
    FROM Usuarios u
    INNER JOIN UsuarioEspecialidad ue ON u.IdUsuario = ue.IdUsuario AND ue.IdEstado = 1
    INNER JOIN Especialidades e ON ue.IdEspecialidad = e.IdEspecialidad
    LEFT JOIN Telefonos t ON u.IdUsuario = t.IdUsuario
    INNER JOIN PracticaEstudiante p ON u.IdUsuario = p.IdUsuario
    LEFT JOIN VacantesPractica v ON p.IdVacante = v.IdVacantePractica
    LEFT JOIN NotasEstudiantesTB n ON u.IdUsuario = n.IdUsuario
    INNER JOIN Estados est ON p.IdEstado = est.IdEstado
    WHERE u.IdRol = 1  
        AND u.IdEstado = 1 
        AND est.Descripcion IN ('En Curso', 'Rezagado', 'Aprobada', 'Finalizada')
    ORDER BY u.Nombre, u.Apellido1;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerNombreCompletoUsuarioSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ObtenerNombreCompletoUsuarioSP]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Nombre + ' ' + Apellido1 AS NombreCompleto
    FROM Usuarios
    WHERE IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerNotasEstudianteSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerNotasEstudianteSP]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ISNULL(Nota1, 0.00) AS Nota1,
        ISNULL(Nota2, 0.00) AS Nota2,
        ISNULL(NotaFinal, 0.00) AS NotaFinal
    FROM NotasEstudiantesTB
    WHERE IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPerfilEstudianteSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerPerfilEstudianteSP]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        u.IdUsuario,
        u.Cedula,
        u.Nombre + ' ' + u.Apellido1 + ' ' + ISNULL(u.Apellido2, '') AS NombreCompleto,
        u.Nombre,
        u.Apellido1,
        u.Apellido2,
        em.Email AS Correo,
        t.Telefono,
        ISNULL(d.DireccionExacta, '') + 
        CASE WHEN d.DireccionExacta IS NOT NULL THEN ', ' ELSE '' END +
        ISNULL(dis.Nombre, '') + 
        CASE WHEN dis.Nombre IS NOT NULL THEN ', ' ELSE '' END +
        ISNULL(c.Nombre, '') + 
        CASE WHEN c.Nombre IS NOT NULL THEN ', ' ELSE '' END +
        ISNULL(p.Nombre, '') AS Direccion,
        CASE 
            WHEN u.Sexo = 'M' THEN 'Masculino' 
            WHEN u.Sexo = 'F' THEN 'Femenino' 
            ELSE u.Sexo 
        END AS Sexo,
        e.Nombre AS Especialidad,
        DATEDIFF(YEAR, u.FechaNacimiento, GETDATE()) - 
        CASE 
            WHEN MONTH(u.FechaNacimiento) > MONTH(GETDATE()) 
                OR (MONTH(u.FechaNacimiento) = MONTH(GETDATE()) AND DAY(u.FechaNacimiento) > DAY(GETDATE()))
            THEN 1 
            ELSE 0 
        END AS Edad,
        s.Seccion,
        emp.NombreEmpresa,
        temp.Telefono AS TelefonoEmpresa,
        pr.IdVacante,
        pr.IdUsuario AS IdEstudiante,
        pr.IdPractica
    FROM Usuarios u
    LEFT JOIN Emails em ON u.IdUsuario = em.IdUsuario
    LEFT JOIN Telefonos t ON u.IdUsuario = t.IdUsuario
    LEFT JOIN Direcciones d ON u.IdDireccion = d.IdDireccion
    LEFT JOIN Distritos dis ON d.IdDistrito = dis.IdDistrito
    LEFT JOIN Cantones c ON dis.IdCanton = c.IdCanton
    LEFT JOIN Provincias p ON c.IdProvincia = p.IdProvincia
    LEFT JOIN UsuarioEspecialidad ue ON u.IdUsuario = ue.IdUsuario AND ue.IdEstado = 1
    LEFT JOIN Especialidades e ON ue.IdEspecialidad = e.IdEspecialidad
    LEFT JOIN Secciones s ON u.IdSeccion = s.IdSeccion
    LEFT JOIN PracticaEstudiante pr ON u.IdUsuario = pr.IdUsuario 
        AND pr.IdEstado = (SELECT IdEstado FROM Estados WHERE Descripcion = 'En Curso')
    LEFT JOIN VacantesPractica v ON pr.IdVacante = v.IdVacantePractica
    LEFT JOIN Empresas emp ON v.IdEmpresa = emp.IdEmpresa
    LEFT JOIN Telefonos temp ON emp.IdEmpresa = temp.IdEmpresa
    WHERE u.IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPerfilSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerPerfilSP]
  (@IdUsuario int)
  AS
  BEGIN
SELECT U.IdUsuario, U.Cedula, U.Nombre, U.Apellido1, U.Apellido2, U.FechaNacimiento,
    U.FechaRegistro, U.FechaEgreso, U.IdRol, U.IdSeccion, U.IdEstado, E.Email AS Correo, T.Telefono, D.DireccionExacta,
    D.IdDistrito, D.IdDireccion, DD.Nombre as Distrito, C.Nombre AS Canton, C.IdCanton, P.Nombre As Provincia, P.IdProvincia,
    IM.Padecimiento, IM.Tratamiento, IM.Alergia, IM.IdInformacionMedica, UE.IdEspecialidad, U.Sexo, U.Nacionalidad
    FROM Usuarios U
    LEFT JOIN Emails E
    ON U.IdUsuario = E.IdUsuario
    LEFT JOIN Telefonos T
    ON U.IdUsuario = T.IdUsuario
    LEFT JOIN Direcciones D
    ON U.IdDireccion = D.IdDireccion
    LEFT JOIN Distritos DD
    ON D.IdDistrito = DD.IdDistrito
    LEFT JOIN Cantones C
    ON DD.IdCanton = C.IdCanton
    LEFT JOIN Provincias P
    ON C.IdProvincia = P.IdProvincia
    LEFT JOIN InformacionMedica IM
    ON U.IdUsuario = IM.IdUsuario
    LEFT JOIN UsuarioEspecialidad UE
    ON U.IdUsuario = UE.IdUsuario
  WHERE u.IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPostulacionesSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   GET: Postulaciones por Vacante
   Controller: GET api/vacantes/postulaciones?idVacante=
   ========================================================= */
CREATE   PROCEDURE [dbo].[ObtenerPostulacionesSP]
    @IdVacante INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.IdPractica,
        p.IdVacante,
        u.IdUsuario,
        u.Cedula,
        NombreCompleto = CONCAT(u.Nombre,' ',u.Apellido1,' ',u.Apellido2),
        EstadoDescripcion = e.Descripcion
    FROM PracticaEstudiante p
    INNER JOIN Usuarios u ON u.IdUsuario = p.IdUsuario
    INNER JOIN Estados  e ON e.IdEstado  = p.IdEstado
    WHERE p.IdVacante = @IdVacante
    ORDER BY p.IdPractica DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerSeccionesSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerSeccionesSP] 
AS
BEGIN
    SELECT IdSeccion, Seccion
    FROM Secciones WHERE IdEstado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUbicacionEmpresaSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   GET: Ubicación Empresa
   Controller: GET api/vacantes/ubicacion-empresa?idEmpresa=
   ========================================================= */
CREATE   PROCEDURE [dbo].[ObtenerUbicacionEmpresaSP]
    @IdEmpresa INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        Ubicacion = CONCAT(
            ISNULL(p.Nombre, ''), CASE WHEN p.Nombre IS NULL THEN '' ELSE ', ' END,
            ISNULL(c.Nombre, ''), CASE WHEN c.Nombre IS NULL THEN '' ELSE ', ' END,
            ISNULL(d.Nombre, ''), CASE WHEN d.Nombre IS NULL THEN '' ELSE ', ' END,
            ISNULL(dir.DireccionExacta, '')
        )
    FROM Empresas emp
    LEFT JOIN Direcciones dir ON dir.IdDireccion = emp.IdDireccion
    LEFT JOIN Distritos d     ON d.IdDistrito    = dir.IdDistrito
    LEFT JOIN Cantones c      ON c.IdCanton      = d.IdCanton
    LEFT JOIN Provincias p    ON p.IdProvincia   = c.IdProvincia
    WHERE emp.IdEmpresa = @IdEmpresa;
END
GO
/****** Object:  StoredProcedure [dbo].[RegistroSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[RegistroSP] 
    @Nombre VARCHAR(20), 
    @Apellido1 VARCHAR(50), 
    @Apellido2 VARCHAR(50), 
    @Correo VARCHAR(255), 
    @IdEspecialidad INT,
    @FechaNacimiento DATETIME,
    @IdSeccion INT,
    @Contrasenna VARCHAR(255), 
    @Cedula VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdUsuario INT;

    -- Validaciones
    IF @IdSeccion IS NULL
    BEGIN
        RAISERROR('La sección especificada no existe.', 16, 1);
        RETURN;
    END

    IF @IdEspecialidad IS NULL
    BEGIN
        RAISERROR('La especialidad especificada no existe.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM Usuarios WHERE Cedula = @Cedula)
    BEGIN
        RAISERROR('Imposible completar el registro. Ya existe una cuenta asociada a esa cédula.', 16, 1);
        RETURN;
    END

    BEGIN TRY
        BEGIN TRAN;

        -- Insertar usuario
        INSERT INTO dbo.Usuarios (Nombre, Apellido1, Apellido2, Contrasenna, FechaNacimiento, Cedula, IdEstado, IdRol, IdSeccion, FechaRegistro)
        VALUES (
            @Nombre, 
            @Apellido1, 
            @Apellido2, 
            CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @Contrasenna), 2), 
            @FechaNacimiento,
            @Cedula, 
            1,
            1, -- Estudiante
            @IdSeccion,
            GETDATE()
        );

        SET @IdUsuario = SCOPE_IDENTITY();

        -- Insertar correo
        INSERT INTO dbo.Emails (IdUsuario, Email) 
        VALUES (@IdUsuario, @Correo);

        -- Relación usuario-especialidad
        INSERT INTO dbo.UsuarioEspecialidad (IdEspecialidad, IdUsuario, IdEstado) 
        VALUES (@IdEspecialidad, @IdUsuario, 1);

        COMMIT;

        -- Devolver el ID
        SELECT @IdUsuario AS IdUsuario;

    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[RetirarEstudianteSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   POST: Retirar Estudiante (sin IdPractica)
   Controller: POST api/vacantes/retirar-estudiante
   Devuelve (ok, message)
   ========================================================= */
CREATE   PROCEDURE [dbo].[RetirarEstudianteSP]
    @IdVacante INT,
    @IdUsuario INT,
    @Comentario NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdE_Ret INT = dbo.fn_IdEstado('Retirada');
    IF @IdE_Ret IS NULL
    BEGIN
        SELECT 0 AS ok, 'No existe estado "Retirada".' AS message; RETURN;
    END

    DECLARE @IdPractica INT;
    SELECT TOP 1 @IdPractica = IdPractica
    FROM PracticaEstudiante
    WHERE IdVacante = @IdVacante AND IdUsuario = @IdUsuario
    ORDER BY IdPractica DESC;

    IF @IdPractica IS NULL
    BEGIN
        -- crea registro retirado directo si no existe
        INSERT INTO PracticaEstudiante (IdVacante, IdEstado, IdUsuario, FechaAplicacion)
        VALUES (@IdVacante, @IdE_Ret, @IdUsuario, GETDATE());
        SET @IdPractica = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        UPDATE PracticaEstudiante SET IdEstado = @IdE_Ret, FechaAplicacion = GETDATE()
        WHERE IdPractica = @IdPractica;
    END

    IF (ISNULL(@Comentario,'') <> '')
    BEGIN
        INSERT INTO ComentariosPractica (Comentario, Fecha, IdUsuario, IdPractica, Nota, Tipo)
        VALUES (@Comentario, GETDATE(), @IdUsuario, @IdPractica, NULL, 'Retiro');
    END

    SELECT 1 AS ok, 'Estudiante retirado (estado "Retirada").' AS message;
END
GO
/****** Object:  StoredProcedure [dbo].[ValidarEncargadoSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ValidarEncargadoSP]
(@Cedula VARCHAR(30), @IdUsuario INT)
AS
BEGIN

    SELECT E.Cedula, E.Nombre, E.Apellido1, E.Apellido2, E.Ocupacion,
    E.LugarTrabajo, C.Email, E.IdEncargado, T.Telefono
    FROM Encargados E
    INNER JOIN Emails C
    ON E.IdEncargado = C.IdEncargado
    INNER JOIN Telefonos T
    ON E.IdEncargado = T.IdEncargado
    INNER JOIN EstudianteEncargado EE
    ON EE.IdEncargado = E.IdEncargado
    WHERE E.IdEstado = 1 AND E.Cedula = @Cedula AND EE.IdUsuario != @IdUsuario;

END;
GO
/****** Object:  StoredProcedure [dbo].[ValidarUsuarioEncargadoSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ValidarUsuarioEncargadoSP]
(@Cedula VARCHAR(30)) 
AS
BEGIN
    SELECT IdRol, Cedula, Nombre, Apellido1, Apellido2
    FROM Usuarios
    WHERE Cedula = @Cedula;
END;

GO
/****** Object:  StoredProcedure [dbo].[ValidarUsuarioSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[ValidarUsuarioSP] 
  (@Cedula VARCHAR(255))
  AS
  BEGIN
SELECT U.IdUsuario, U.Cedula, U.Nombre, U.Apellido1, U.Apellido2, U.FechaNacimiento,
    U.FechaRegistro, U.FechaEgreso, U.IdRol, U.IdSeccion, U.IdEstado, E.Email AS Correo, T.Telefono, D.DireccionExacta,
    D.IdDistrito, D.IdDireccion, DD.Nombre as Distrito, C.Nombre AS Canton, C.IdCanton, P.Nombre As Provincia, P.IdProvincia,
    IM.Padecimiento, IM.Tratamiento, IM.Alergia, IM.IdInformacionMedica
    FROM Usuarios U
    LEFT JOIN Emails E
    ON U.IdUsuario = E.IdUsuario
    LEFT JOIN Telefonos T
    ON U.IdUsuario = T.IdUsuario
    LEFT JOIN Direcciones D
    ON U.IdDireccion = D.IdDireccion
    LEFT JOIN Distritos DD
    ON D.IdDistrito = DD.IdDistrito
    LEFT JOIN Cantones C
    ON DD.IdCanton = C.IdCanton
    LEFT JOIN Provincias P
    ON C.IdProvincia = P.IdProvincia
    LEFT JOIN InformacionMedica IM
    ON U.IdUsuario = IM.IdUsuario
  WHERE Cedula = @Cedula;
END
GO
/****** Object:  StoredProcedure [dbo].[VisualizacionPostulacionSP]    Script Date: 11/20/2025 10:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   GET: Visualización de una Postulación (vacante + usuario)
   Controller: GET api/vacantes/visualizacion-postulacion?idVacante=&idUsuario=
   ========================================================= */
CREATE   PROCEDURE [dbo].[VisualizacionPostulacionSP]
    @IdVacante INT,
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        p.IdPractica,
        p.IdVacante,
        p.IdUsuario,
        EstadoDescripcion = e.Descripcion,
        NombreCompleto = CONCAT(u.Nombre,' ',u.Apellido1,' ',u.Apellido2)
    FROM PracticaEstudiante p
    INNER JOIN Estados e ON e.IdEstado = p.IdEstado
    INNER JOIN Usuarios u ON u.IdUsuario = p.IdUsuario
    WHERE p.IdVacante = @IdVacante AND p.IdUsuario = @IdUsuario
    ORDER BY p.IdPractica DESC;
END
GO
