@using System.Web
@model SIGEP_ProyectoFinal.Models.Usuario

@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<input type="hidden" id="TempError" value="@TempData["SwalError"]" />
<input type="hidden" id="TempSuccess" value="@TempData["SwalSuccess"]" />


<section class="gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card cardLogin" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 ">BIENVENIDO A SIGEP</h2>
                            <hr />
                            <p style="color:red">@ViewBag.Mensaje</p>

                            <form id="loginForm" class="custom-form" method="post" asp-action="IniciarSesion" asp-controller="Home">
                                <div class="input-icon-container mb-3">
                                    <i class="fas fa-envelope"></i>
                                    <input asp-for="Cedula" id="cedulaLogin" class="input-field" placeholder="Ingresa tu cédula">
                                </div>

                                <div class="input-icon-container mb-3">
                                    <i class="fas fa-lock"></i>
                                    <input type="password" id="contrasenna" class="input-field password-input" placeholder="Ingresa tu contraseña" asp-for="Contrasenna" />
                                    <i class="fas fa-eye-slash toggle-password"></i>
                                </div>

                                <br />

                                <p><a class="text-white-50" asp-action="RecuperarAcceso" asp-controller="Home">¿Olvidaste tu contraseña? Recupera tu acceso!</a></p>

                                <button id="IniciarSesionBTN" class="btnInicio btn btn-lg px-5" type="submit">
                                    Iniciar Sesión
                                </button>
                            </form>

                        </div>

                        <div>
                            <p class="mb-0">
                                ¿No tienes una cuenta? <a asp-action="Registro" asp-controller="Home" class="text-white-50 fw-bold">Regístrate</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/iniciosesion/iniciosesion.js" asp-append-version="true"></script>